# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# Data/Artifacts not meant for source control
weather.db
data/raw/
data/tmp/
data/interim/
*.parquet
*.feather

# Notebooks checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# Local configs
*.local.json
.env.*
